@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;  
        scrollbar-width: none;  
    }
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-10px, 0); }
    20%, 40%, 60%, 80% { transform: translate(10px, 0); }
    100% { transform: translate(0, 0); }
}

.shake {
    animation: shake 1s;
}

.fade-in-out {
    opacity: 0;
    animation: fade-in 0.2s ease-in forwards, fade-out 2s 1s ease-out forwards;
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
